.loginfull {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/getStarted.png");
}
